{{#each .}}
  <li class="country-info_item">
  <img width='40' height='30' class='country-info_flag' src='{{flags.svg}}' alt='{{name}}' />
  <div class='country-info_name'>{{name}}</div>
  </li>
{{/each}}